* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1C1E26;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.date {
    background: #ececec2a;
    color: #1C1E26;
	position: absolute;
    top: 10px;
    left: 50%;
	z-index: 100;
    display:block;
    padding: 1rem;
    transform: translateX(-50%);
}
